button {
  @extend .topcoat-button;

  &.remove {
    @extend .topcoat-button--quiet;
    margin-left: 1em;
  }
}

#wrapper {
  max-width: 68em;
  margin: 0 auto;
}

.no-bullet {
  list-style: none inside none;
}

.ticket {
  background: $white;
  width: 23%;
  min-height: 11em;
  float: left;
  margin: 1%;
  position: relative;
}

.ticket__actions {
  position: absolute;
  bottom: 0;
}
