%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
      clear: both;
  }
}

button {
  @extend .topcoat-button;

  &.remove {
    @extend .topcoat-button--quiet;
    margin-left: 1em;
  }
}

#boneboard-app {
  max-width: 68em;
  margin: 0 auto;

}

.no-bullet {
  list-style: none inside none;
  padding: 0;
  @extend %clearfix;
}

// wow this selector sucks
#tickets li:nth-child(4n) .ticket {
  margin-right: 0;
}

.ticket {
  background: $white;
  width: 24%;
  min-height: 11em;
  float: left;
  margin: {
    right: 1%;
    bottom: 1%;
  }
  position: relative;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.ticket__actions {
  position: absolute;
  bottom: 0;
}
