<!DOCTYPE html>
<html class="no-js" lang="en">
  <%= render 'head' %>
  <body>
    <%= yield %>
    <%= render 'javascripts' %>
    <%= javascript_tag do %>
      $(function() {
        // init
      });
    <% end %>
  </body>
</html>
